{% extends "todos/base.html" %}

{% block page_header %}
  <div class="jumbotron">
  	<h1 class="display-3">Write Down Your Todo</h1>

  	<p class="head">
  	  Write down things what you prepare to do or dreams you aim to accoplish. 
    </p>

    {% if user.is_authenticated %}
      <a class="btn btn-lg btn-primary" href="{% url 'todos:groupings' %}" role="button">
        Start &raquo;
      </a>
    {% else %}
      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">
        Register &raquo;
      </a>
    {% endif %}
  </div>
{% endblock page_header %}